{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
   <div class="content-wrapper">
     {% include 'menu.html' %}
       <br>
        <div class="content">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                  <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Processo Administrativo Digital</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                            </button>
                        </div>
                      </div>
                      <div class="card-body">
                          <div class="row">
                            <div class="col-sm-12 col-xs-12">
                              <div class="box">
                                <div class="box-header">

                                  <!-- /.box-header -->
                                  <div class="col-xs-12">
                                    <div class="table-responsive">
                                      <table class="table">
                                        <tr>
                                          <th>N° Processo:</th>
                                          <td>{{corporativo.numero_processo}}</td>
                                          <th>Data de Abertura:</th>
                                          <td><span>{{corporativo.data_abertura | date:"d/m/Y"}}</span></td>
                                        </tr>
                                        <tr>
                                          <th style="width: 15%;">N° do Instrumento:</th>
                                          <td><span>{{corporativo.numero_licenca}}</span></td>

                                          <th style="width: 15%;">Data de Validade:</th>
                                          <td><span>{{corporativo.data_fim_validade | date:"d/m/Y"}}</span></td>
                                        </tr>
                                        <tr>
                                          <th>Assunto:</th>
                                          <td><span>{{corporativo.descricao_servico}}</span></td>
                                          <th></th>
                                          <td></td>
                                        </tr>
                                      </table>
                                      <div>
<!--                                        <table class="table table-bordered">-->
<!--                                          <thead>-->
<!--                                            <tr class="table-secondary">-->
<!--                                              <th style="width: 30%">CPF/CNPJ</th>-->
<!--                                              <th>NOME</th>-->
<!--                                            </tr>-->
<!--                                          </thead>-->
<!--                                          <tbody>-->
<!--                                            <tr>-->
<!--                                              {% if corporativo.cnpj is not None %}-->
<!--                                              <td>{{corporativo.cnpj}}</td>-->
<!--                                              {% elif corporativo.cpf is not None %}-->
<!--                                              <td>{{corporativo.cpf}}</td>-->
<!--                                              {% endif %}-->
<!--                                              {% if corporativo.nome_pessoa_juridica is not None %}-->
<!--                                              <td>{{corporativo.nome_pessoa_juridica}}</td>-->
<!--                                              {% elif corporativo.nome_pessoa_fisica is not None %}-->
<!--                                              <td>{{corporativo.nome_pessoa_fisica}}</td>-->
<!--                                              {% endif %}-->
<!--                                            </tr>-->
<!--                                          </tbody>-->
<!--                                        </table>-->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                 </div>
                 <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Dados do Empreendimento</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                            </button>
                        </div>
                      </div>
                      <div class="card-body">
                          <div class="row">
                            <div class="col-sm-12 col-xs-12">
                              <div class="box">
                                <div class="box-header">

                                  <!-- /.box-header -->
                                  <div class="col-xs-12">
                                    <div class="table-responsive">
                                      <table class="table">
                                        <tr>
                                          <th>Nome:</th>
                                          {% if corporativo.nome_pessoa_juridica is not None %}
                                          <td>{{corporativo.nome_pessoa_juridica}}</td>
                                          {% elif corporativo.nome_pessoa_fisica is not None %}
                                          <td>{{corporativo.nome_pessoa_fisica}}</td>
                                          {% endif %}
                                          <th>CPF/CNPJ:</th>
                                            {% if corporativo.cnpj is not None %}
                                            <td>{{corporativo.cnpj | cnpj}}</td>
                                            {% elif corporativo.cpf is not None %}
                                            <td>{{corporativo.cpf | cpf}}</td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                          <th style="width: 15%;">Endereço:</th>
                                          <td>Rua Augusto Queiroga</td>

                                          <th style="width: 15%; pr-10">Número:</th>
                                          <td><span>{{corporativo.numero}}</span></td>
                                        </tr>
                                        <tr>
                                          <th>Município:</th>
                                          <td><span>Duque de Caxias</span></td>
                                          <th>Atividade:</th>
                                          <td class="space-lable"><span>{{corporativo.descricao_atividade}}</span></td>
                                          <th></th>
                                          <td></td>
                                        </tr>
                                      </table>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>

                          </div>
                    </div>
                 </div>
                 <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Documentos</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                            </button>
                        </div>
                      </div>
                      <div class="card-body">
                          <table id="example2" class="table table-bordered table-striped">
                              <thead>
                              <tr>
                                <th>Ações</th>
                                <th>Autor</th>
                                <th>Tipo de Documento</th>
                                <th>Setor</th>
                                <th>Data de Criação</th>
                              </tr>
                              </thead>
                              <tbody>
                              {% for documento in documentos %}
                                <tr>
                                  <td class="">
                                    <a href="{{documento.documento.url}}" class="text-muted" target="_blank">
                                      <i class="fas fa-search"></i>
                                    </a>
                                  </td>
                                  <td>{{ documento.autor }}</td>
                                  <td>{{ documento.tipo_documento }}</td>
                                  <td>{{ documento.setor }}</td>
                                  <td>{{ documento.data_assinatura | date:"d/m/Y" }}</td>
                                </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                    </div>
                 </div>
                  <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Tramitação do Processo</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                            </button>
                        </div>
                      </div>
                      <div class="card-body">
                          <table id="example" class="table table-bordered table-striped">
                              <thead>
                              <tr>
                                <th>Data de Tramitação</th>
                                <th>Sigla Setor</th>
                                <th>Setor Destino</th>
                                <th>Observação</th>
                              </tr>
                              </thead>
                              <tbody>
                              {% for tramitacao in tramitacoes %}
                                <tr>
                                  <td>{{ tramitacao.data_envio | date:"d/m/Y"}}</td>
                                  <td>{{ tramitacao.sigla_orgao }}</td>
                                  <td>{{ tramitacao.orgao_destino }}</td>
                                  <td>{{ tramitacao.observacao }}</td>
                                </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                    </div>
                 </div>
                  <div class="card">
                      <div class="card-body">
                          <div class="row">
                            <div class="col-sm-12 col-xs-12">
                              <div class="box">
                                <div class="box-header">
                                  <!-- /.box-header -->
                                  <div class="col-xs-12">
                                    <div class="table-responsive">
                                      <div>
                                          <div class="card-footer">
                                              <a href="{% url 'consulta:unificada' %}" class="btn btn-info float-right mr-4">Voltar</a>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                 </div>
              </div>
          </div>
        </div>
   </div>
{% endblock %}